.profile-container {
    // border: white solid 2px;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--main-dark);

    #profile-img {
        width: 20rem;
        border-radius: var(--default-border-radius);
        box-shadow: var(--dark-shadow);

        transition: 0.8s;

        margin-bottom: -0.3rem;

        &:hover {
            animation: hueRotate infinite 1s linear;
        }
    }

    p {
        font-family: var(--main-font);
        text-align: center;
        font-size: 1.25rem;

        a {
            color: var(--main-dark);

            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.typewriter {
    font-family: var(--main-font);
    font-size: 3.5rem;
    font-weight: bold;
    color: #272430;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.typewriterCursor {
    animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
    0% {
        opacity: 1
    }
    49% {
        opactiy: 1
    }
    50% {
        opactiy: 0
    }
    65% {
        opacity: 0
    }
    85% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .profile-container {
        #profile-img {
            width: 50%;
        }

        .typewriter {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

}
