.titleContainer {
    // border: blue solid 2px;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.typewriter {
    font-family: var(--main-font);
    font-size: 7rem;
    font-weight: bold;
    color: #272430;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.socials {
    // border: yellowgreen 2px solid;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding: 1.5rem 0;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .titleContainer {
        height: 40%;
    }

    .typewriter {
        font-size: 3.25rem;
    }
}