#titleContainer {
    border: blue solid 2px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter {
    font-family: var(--main-font);
    font-size: 7rem;
    font-weight: bold;
}