.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: auto;

    margin-top: 1rem;

    background-color: var(--dark-bg-lo);
    border-radius: var(--default-border-radius);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.page-description {
    font-family: var(--main-font);
    font-size: 1.5rem;

    text-align: center;

    width: 60%;
}

.m152-criteria {
    padding: 2rem 4rem;
    width: 60%;
    margin-bottom: 2rem;

    .criteria-main-title {
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 2.5rem;

        color: var(--main-dark);
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);

        &::after {
            content: "";
            width: 100%;
            border: 2px solid var(--main-dark);
            opacity: 0.5;

            display: block;
            margin-top: 0.8rem;
        }
    }

    .criteria-sub-title {
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 2rem;

        color: var(--main-dark);
        opacity: 0.9;

        margin-top: 3rem;
        margin-bottom: -1rem;
    }

    .criteria-text {
        font-family: var(--main-font);
        font-size: 1.5rem;

        color: var(--main-dark);
        // opacity: 0.8;

        a {
            color: var(--main-dark);
            text-decoration: underline;
            font-weight: bold;

            transition: 0.1s;

            &:hover {
                color: var(--main-dark-hovered);
            }
        }


        .color-container {
            // opacity: 1;
            border: 5px solid black;

            margin-top: 1rem;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;

            width: 100%;
            height: 100px;

            .color-box {
                height: 100%;
                flex-grow: 1;
            }
        }

        .link-button {
            // opacity: 1;
            background-color: var(--dark-bg);

            padding: 1rem;
            border-radius: var(--default-border-radius);
            box-shadow: var(--dark-shadow);
            color: var(--light-primary);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: none;

            text-align: center;
            font-family: var(--main-font);
            font-weight: bold;
            font-size: 1.2rem;
            text-align: center;
            color: var(--light-primary);

            cursor: pointer;

            transition: 0.1s;

            margin-top: 1rem;
            margin-right: 2rem;

            &:hover {
                background-color: var(--dark-bg-selected);
                transform: scale(1.05);
            }
        }

        .light-button {
            // opacity: 1;
            background-color: #9167F8;

            padding: 1rem;
            border-radius: var(--default-border-radius);
            box-shadow: var(--dark-shadow);

            color: black;

            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: none;

            text-align: center;
            font-family: var(--main-font);
            font-weight: bold;
            font-size: 1.2rem;
            text-align: center;

            cursor: pointer;

            transition: 0.1s;

            margin-top: 1rem;
            margin-right: 2rem;

            &:hover, &:active {
                cursor: pointer;
                background-color: lighten(#9167F8, 10%);
                transform: scale(1.05);
            }
        }

        .dark-button {
            // opacity: 1;
            background-color: var(--dark-bg);

            padding: 1rem;
            background-color: var(--dark-bg);
            box-shadow: var(--dark-shadow);
            border-radius: var(--default-border-radius);
            color: white;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: solid 2px #9167F8;


            text-align: center;
            font-family: var(--main-font);
            font-weight: bold;
            font-size: 1.2rem;
            text-align: center;
            color: var(--light-primary);

            cursor: pointer;

            transition: 0.1s;

            margin-top: 1rem;

            &:hover {
                background-color: var(--dark-bg-selected);
                transform: scale(1.05);
                border: solid 2px lighten(#9167F8, 10%);
            }
        }

        code {
            background: var(--dark-bg);
            padding: 1rem;
            border-radius: var(--default-border-radius);

        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            margin-top: 2rem;
        }
    }
}

.hue-rotate-example {
    animation: hueRotate infinite 1s linear;
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .container {
        overflow-x: hidden;
    }

    .page-description, .m152-criteria {
        width: 80%;
    }

    .page-description {
        font-size: 1.2rem;
    }

    .m152-criteria {
        .criteria-main-title {
            font-size: 2rem;
        }

        .criteria-sub-title {
            font-size: 1.8rem;
        }

        .criteria-text {
            font-size: 1.2rem;

            .link-button {
                margin-top: 1rem;
            }

            .link-button, .light-button {
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
    }
}