nav ul {
    // border: red solid 2px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    list-style-type: none;

    a {
        text-decoration: none;

        li {
            background: var(--dark-bg);
            backdrop-filter: blur(5px);
            padding: 1rem 3rem;
            margin: 0 2rem;
            min-width: 80px;
            border-radius: 10px;

            font-family: var(--main-font);
            font-weight: bold;
            font-size: 1.2rem;
            text-align: center;
            color: var(--light-primary);

            box-shadow: var(--dark-shadow);

            transition: 0.1s;

            &:hover {
                background: var(--dark-bg-selected);
                transform: scale(1.05);
            }
        }
    }
}

.activeNavLink {
    li {
        text-decoration: underline;
        color: var(--light-primary) !important;
        background: var(--dark-bg-selected);
    }
}