.socialButton {
    background-color: var(--dark-bg);

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 25px;
    min-height: 25px;

    margin: 0 1rem;
    padding: 1rem;
    font-size: 20px;
    border-radius: var(--default-border-radius);
    box-shadow: var(--dark-shadow);
    color: var(--light-primary);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition: 0.1s;

    animation: fadeIn 1s linear forwards,
        bottomToTop 1s cubic-bezier(.43,.87,.36,1) forwards;

    &:hover {
        background-color: var(--dark-bg-selected);
        transform: scale(1.05);
    }

    // for animation
    opacity: 0;
}

@for $i from 1 through 3 {
    .socialButton:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.35}s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@keyframes bottomToTop {
    0% {
        transform: translateY(10px);
    }
}